body {
  background-color: #1f1f1f;
  font-family: 'Exo 2', 'sans-serif';
  color: #fff;
  margin: 0
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

#root > div:not(#navbar, #footer) {
  max-width: 1300px;
  margin: 0 auto
}